<div class="col-md-12 main-view">
    <div class="col-lg-12 chart ">
        <div>
            <div class="normal-header">
                {{ location.name }}
            </div>
            <div class="normal-content">
                <div class="col-lg-4  color-blue">
                    <div class="fa fa-user icon-block"></div>
                    <div class="text-center">{{ location.people }} People</div>
                </div>
                <div class="col-lg-4 color-red">
                    <div class="fa fa-sign-out icon-block "></div>
                    <div class="text-center">Transition Log</div>
                </div>
                <div class="col-lg-4  color-gray">
                    <a href="#/location/edit/{{ location.id }}">
                        <div class="fa fa-cog icon-block"></div>
                        <div class="text-center">Setting</div>
                    </a>
                </div>
                <table class="header-border">
                    <thead>
                        <tr>
                            <th>Identifier</th>
                            <th>Entered at</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="transition in transitions">
                            <td>{{transition.identifier}}</td>
                            <td><span relative-time current="transition.createdAt"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>